@use '../../styles/scss/' as *;


.sidebar{
    position: fixed;
    z-index: 10;
    max-width: 20rem;
    height: 100%;
    padding-right: 1rem;
    background-color: white;
    // small relative

}




.sidebar-content{

    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: white;

}

.mt-auto{
    margin-top: auto;
}

.sidebar-policies{
    display: flex;
    flex-wrap: wrap;
    padding: 0 2rem;
    font-size: 0.875rem;
    padding-bottom: 4rem;
}