@use '../../styles/scss/' as *;


// Header
.header{
    position: relative;
    border-bottom-width: 1px;
    z-index: 100;
}
.header-content{
    @include flex(stretch,space-between);
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-color: #e2e8f0;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.menu-button{
    align-self: center;
}

// SearchBar

.search-bar{
    align-self: center;
    flex:1;
    margin-left: 10%;
    margin-right: 10%;

    @include mobile{
      
            display: none;
        
    }
}



.searchbar-content{

    display: flex;
    flex-direction: row;
    align-items: stretch;


    padding-left: 1rem;
    padding-right: 1rem;

    padding-top: 0.25rem;
    padding-bottom: 0.25rem;


    margin-right: 0.5rem;
    margin-left: 0.5rem;

    border-radius: 10px;
    box-shadow:  1px 2px 3px 0px rgb(0 0 0 / 10%), -3px -2px 14px 0 rgb(0 0 0 / 6%);
    input{
        flex: 1;
        background-color: transparent;
        border:none;

        outline:none;
        
        margin-left: 0.5rem;
    }
}



//   options
.options{
    @include flex(center,center);

    :nth-child(even){
        margin:0 0.5rem;
    }

}

.selected-notes{
    position: absolute;
    @include flex(center,center);
    padding: 0 1rem;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: white;
    transform: scaleX(1) scaleY(1);
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 75ms;

    &div{
        @include flex(center,center);
    
    
        &span{
            margin-left: 2rem;
            font-size: 1.25rem;
        }

    }

}


.search-btn{
    @include flex(center,center);
    cursor: pointer;
}