@use '../../styles/scss/' as *;



.avatar{
height: 2.5rem;
width: 2.5rem;
border-radius: 9999px;
overflow: hidden;
border: 1px solid gray;
&:hover{
    background-color: #4a5568;
}
.avatar-img{
    width: 100%;
    height: 100%;
}
}