$body-bg: rgb(255, 255, 255);
$main-color:rgb(255, 221, 0);
$txt-color:black;

$box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;

$header-height: 8rem;
$header-shrink-height: 5rem;
$border-radius: 30px;

$mobile-width: 600px;
$tablet-width: 1024px;

$font-family: "Montserrat", sans-serif;

$text-gray-600: #718096;
$text-gray-800: #2d3748;

$bg-orange-300:#fbd38d;
$bg-gray-300: #e2e8f0;